<!DOCTYPE html>
<!-- Maxime 'Saumon' Louet -->
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <meta charset="utf-8">
  <title>DEV - BLIH Web</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.5,maximum-scale=1,user-scalable=yes">
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" type="text/css" href="/blih-web.css">
</head>
<body>
<header>
  <h1><a href="/" onclick="if (Guser != false) { event.preventDefault(); refreshRepolist(); this.blur(); }" id="brand">BLIH Web</a></h1>
  <div id="loader"></div>
  <a href="/" class="logout" title="Logout" onclick="loader(true);"><i class="i i-sign-out"></i></a>
  <span id="logged-in-user"></span>
</header>
<div id="info-container" class="info-container hidden" onclick="infoHandle('hidden', false); this.blur();" title="Click to dismiss"></div>
<main id="main">
  <section id="login">
    <h2>Login</h2>
    <p>THIS IS A DEVELOPMENT SERVER -- please do not share</p>
    <p>Please enter your Epitech login and password to continue.</p>
    <form onsubmit="event.preventDefault(); login(); return false;">
      <label for="login-user">Login</label>
      <input type="text" placeholder="prenom.nom@epitech.eu" id="login-user" autofocus>
      <label for="login-pass">Password</label>
      <input type="password" placeholder="oui" id="login-pass">
      <button class="bg-green" onclick="event.preventDefault(); login(); return false;">Login <i class="i i-right"></i></button>
    </form>
  </section>
  <section id="repos">
    <h2>Repositories</h2>
    <button class="bg-green repo-create" onclick="event.preventDefault(); document.getElementById('repo-create-name').value = ''; showModal('repo-create', 'Create a repository', false); document.getElementById('repo-create-name').focus();"><i class="i i-plus"></i> Create</button>
    <ul id="repolist"></ul>
  </section>
</main>

<aside class="modal">
  <div class="modal-inner">
    <a data-modal-close>&times;</a>
    <h3 id="modal-title"></h3>
    <div class="modal-content"></div>
    <div id="modal-act"></div>
  </div>
</aside>
<div id="modal-repo-info" class="modal-hider">
  <p id="repo-info"></p>
  <p id="repo-info-acl"></p>
</div>
<div id="modal-repo-delete" class="modal-hider">
  <p>Are you sure you want to delete the repository <strong id="repo-delete-name"></strong> ? This action will <strong>delete all the files</strong> in this repository, and <strong>cannot be undone</strong>.</p>
  <p>Type in the name of the repository to confirm:</p>
  <input type="text" id="repo-delete-confirmname" onkeydown="if (event.keyCode == 13) document.getElementById('repo-delete-confirmbutton').click()" oninput="checkRepoConfirm(document.getElementById('modal-title').innerHTML, this.value, document.getElementById('repo-delete-confirmbutton'));">
</div>
<div id="modal-repo-create" class="modal-hider">
  <label for="repo-create-name">Name</label><input type="text" id="repo-create-name" maxlength="84" onkeydown="if (event.keyCode == 13) document.getElementById('repo-create-confirmbutton').click()">
  <div class="repo-create-acl">
    <p>ACLs <button class="acl-add bg-green" onclick="event.preventDefault(); aclAdd('repo-create-acl', '', '', true);"> + </button></p>
    <ul id="repo-create-acl" class="acl-list" data-aclnb="0"><span>(No ACLs)</span></ul>
  </div>
  <button class="bg-green" onclick="event.preventDefault(); repoCreate(this.parentElement.children[1].value, 'repo-create-acl', function(repo){ repoSetAllAcl(repo, 'repo-create-acl', function() { handleSuccess(true, 'ACL correctly applied.'); refreshRepolist(); }) });" id="repo-create-confirmbutton">Create <i class="i i-plus"></i></button>
</div>
<footer><p>Created with ♥ by <a href="https://maximelouet.me">Maxime Louet</a> (EPITECH Paris 2021).</p><p>Version <%= version %></p><p><a href="https://github.com/maximelouet/blih-web/issues">Bug report</a></p></footer>
<script src="/modal.js"></script>
<script src="/blih-web.js"></script>
<script src="/meow.js"></script>
</body>
</html>
